body, html {
    height: 100%;
    margin: 0;
}
.bg {
    /* The image used */
    background-image: url("http://www.surebety.pl/images/Bukmacherka/koszykowka500x375.jpg");
padding: 1300px 0px 0px 0px;
    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}