<div class="row">
  <div class="col-md-4"></div><div class="col-md-4">
   <div class="panel panel-default">
        <div class="panel-heading">Przeglądaj użytkowników!</div>

  </div>
  <div class="col-md-4"></div>
</div>
</div>



<div class="row">
 
  <div class="col-md-4">
    <div class="row">
      <div class="panel panel-default" >
        <div class="panel-heading">Panel wyszukiwania</div>
        <div class="panel-body" ><span data-toggle="tooltip" data-placement="top" title="Wciśnij ENTER aby wyszukać!">
<label>Imię</label><br>
<input (keyup.enter)="searchForUsers()" [(ngModel)]="searchUser.name" placeholder="Imię..."><br>
<label>Nazwisko</label><br>
<input (keyup.enter)="searchForUsers()" [(ngModel)]="searchUser.lastname" placeholder="Nazwisko..."><br>
<label>Email</label><br>
<input (keyup.enter)="searchForUsers()" [(ngModel)]="searchUser.email" placeholder="Email..."><br>
        <label>Rola</label>
<select  class="form-control"  id="role" name="role"  [(ngModel)]="id" (ngModelChange)="saveRole()">
   <option *ngFor="let role of roles" [ngValue]="role.id" >
        {{role.name}}
   </option>
</select>
<button type="submit"  (click)="searchForUsers()" class="btn btn-default" >Szukaj</button></span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-8 ">

  <div class="panel panel-info" > 
    <div class="panel-heading">Znalezieni użytkownicy ({{totalUsers}})</div>
    </div>

    <div class="panel panel-default"  *ngFor="let result of results">  
    <div class="panel-heading">
    <button class="btn btn-primary">[{{result.role}}] {{result.name}} {{result.lastname}}</button><button *ngIf="result.team ==null && result.role=='Zawodnik' && subscribedAccount.role=='Trener' && subscribedAccount.team!=null" class="btn btn-success" (click)="inviteToTeam(result.email)"> Zaproś do drużyny</button></div>
  
     <div class="panel-body"  *ngIf="result.role!='Admin'" >
  
  <span style="color:#0000e6; font-size: 120% ">Rok urodzenia :</span> {{result.year}}
  <span style="color:#0000e6; font-size: 120%;padding-left:5em">E-mail :</span> <span>{{result.email}} </span>
 <p *ngIf="result.team !=null"><span style="color:#0000e6; font-size: 120%">Drużyna : </span> <span style="color:#065aa3; font-size: 120% ">{{result.team.name}}</span> z miasta <span style="color:#065aa3; font-size: 120% ">{{result.team.city}}</span><br>
<span style="color:#0000e6; font-size: 120%">Opis drużyny : </span> {{result.team.description}}
 </p>
  
<!--   <p *ngIf="result.role=='Sędzia'"><span style="color:#0000e6; font-size: 120% "> Opłata : </span> {{result.salary}} zł </p>  -->
</div></div>
  
</div>
