
<div class="row">
 
  <div class="col-md-3">
    <div class="row">
      <div class="panel panel-default" >
        <div class="panel-heading">Edytuj profil!</div>
        <div class="panel-body">
<form [formGroup]="form" novalidate>

<div class="form-group">
<label>Imię</label><br>
<input class="form-control"  formControlName="name"  id="name" name="name"><br>
</div>

<div class="form-group">
<label>Nazwisko</label><br>
<input class="form-control"  formControlName="lastname"  id="lastname" name="lastname"><br>
</div>

<div class="form-group">
<label>Rok urodzenia</label><br>
<input class="form-control"  formControlName="year"  id="year" name="year"><br>
</div>


<div class="form-group">
<label>Telefon</label><br>
<input class="form-control"  formControlName="phone"  id="phone" name="phone" ><br>
</div>

<button type="submit" [disabled]="!form.valid" (click)="confirmationModal.show()" class="btn btn-default" >Edytuj</button>
<button type="submit" (click)="passwordModal.show()" class="btn btn-default" >Przypomnij hasło</button>

</form>

        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4 ">
 
  <div class="panel panel-default" > 
    <div class="panel-heading">Zaproszenia do meczów</div>
    </div>
    
    <div class="panel panel-default"  *ngFor="let matchInvitation of matchInvitations" >  
     <div class="panel-body"  >

  <span style="color:blue">Nazwa drużyny A :</span> {{matchInvitation.teamA.name}}<br>
  <span style="color:blue">Opis :</span> {{matchInvitation.teamA.description}}<br>
  <span style="color:blue">Miasto :</span> {{matchInvitation.teamA.city}}<br>
  <span style="color:violet">Nazwa drużyny B :</span> {{matchInvitation.teamB.name}}<br>
  <span style="color:violet">Opis :</span> {{matchInvitation.teamB.description}}<br>
  <span style="color:violet">Miasto :</span> {{matchInvitation.teamB.city}}<br>
  <span style="color:orange">Hala :</span> {{matchInvitation.hall.city}}, {{matchInvitation.hall.adress}} {{matchInvitation.hall.number}} <br>
  <span style="color:green">Data :</span> {{matchInvitation.date}} <br>

  <span style="color:red">Proponowana zapłata :</span> {{matchInvitation.salary}}zł<br>


   <button type="submit"  class="btn btn-default" (click)="acceptMatchInv(matchInvitation.id);getMatches()">Przyjmij</button>
   <button type="submit"  class="btn btn-default" (click)="denyMatchInv(matchInvitation.id)">Odrzuć</button>
</div>
</div>

</div>

  <div class="col-md-5 ">
    
 <div class="panel panel-default" > 
    <div class="panel-heading">Aktywne mecze</div>
    </div>

    <div class="panel panel-default"  *ngFor="let foundMatch of foundMatches" >  
    <div class="panel-heading">
   
     <div class="panel-body"  >

  <span style="color:red">Gospodarz :</span> {{foundMatch.teamA.name}} <button class="btn btn-default" (click)="getTeamDetails(foundMatch.teamA.id);detailsModal.show()"> Szczegóły </button><br>
  <span style="color:red">Gość :</span> {{foundMatch.teamB.name}}<button class="btn btn-default" (click)="getTeamDetails(foundMatch.teamB.id);detailsModal.show()"> Szczegóły </button><br>
  <span style="color:blue">Sędzia :</span> {{foundMatch.ref.name}} {{foundMatch.ref.lastname}}<br>
  <span style="color:orange">Hala :</span> {{foundMatch.hall.city}}, {{foundMatch.hall.adress}} {{foundMatch.hall.number}} <br>
  <span style="color:green">Data :</span> {{foundMatch.date}} <br>
  <span style="color:orange">Gaża :</span> {{foundMatch.salary}}zł<br> 
</div>
</div>
</div>

  </div>


  </div>



<div bsModal #confirmationModal="bs-modal"  class="modal fade" tabindex="-1" role="dialog" aria-labelledby="
mySmallModalLabel" aria-hidden="true">
<div class="modal-dialog modal-sm">
<div class="modal-content">

      <div class="panel panel-default" >
        <div class="panel-heading"><h2>Sprawdź poprawność danych!</h2></div>
        <div class="panel-body">
   <p>Możesz edytować profil tylko raz w tygodniu!</p><hr/>
   <p style="color:orange">W przypadku wprowadzenia nieprawidłowych danych możesz zostać pominięty przy zaproszeniach do drużyny!</p>
    </div>
<div class="panel-footer">
   <button type="submit" (click)="confirmationModal.hide()" class="btn btn-default">Cofnij</button>
  <button type="submit" (click)="editProfile();confirmationModal.hide()" class="btn btn-default">Edytuj!</button>
 
</div>
</div>
</div>
</div>
</div>


<div bsModal #passwordModal="bs-modal"  class="modal fade" tabindex="-1" role="dialog" aria-labelledby="
mySmallModalLabel" aria-hidden="true">
<div class="modal-dialog modal-sm">
<div class="modal-content">

      <div class="panel panel-default" >
        <div class="panel-heading"><h2>Wpisz e-mail</h2></div>
        <div class="panel-body">
 <p>Możesz przypomnieć hasło tylko raz na godzinę!</p>

    </div>
<div class="panel-footer">
   <button type="submit" (click)="passwordModal.hide()" class="btn btn-default">Cofnij</button>
  <button type="submit" (click)="retrievePassword();passwordModal.hide()" class="btn btn-default">Przypomnij</button>
 
</div>
</div>
</div>
</div>
</div>

<div bsModal #detailsModal="bs-modal"  class="modal fade" tabindex="-1" role="dialog" aria-labelledby="
mySmallModalLabel" aria-hidden="true">
<div class="modal-dialog modal-lg">
<div class="modal-content">
<div class="modal-body">  
  <table class="table">
    <thead>
      <tr>
        <th>Rola</th>
        <th>Imię</th>
        <th>Nazwisko</th>
        <th>Rok urodzenia</th>
        <th>Telefon</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let teamresult of teamresults">
      <td>{{teamresult.role}}</td>
      <td>{{teamresult.name}}</td>
      <td>{{teamresult.lastname}}</td>
      <td>{{teamresult.year}}</td>
      <td>{{teamresult.phone}}</td>
      </tr>
    </tbody>
  </table>

</div>
</div>
</div>
</div>