<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">BasketBlast</a>
    </div>
    <ul class="nav navbar-nav">
      <button type="button" class="btn btn-light navbar-btn" routerLink="/">Główna</button>
      <button type="button" class="btn btn-light navbar-btn" routerLink="/trenerzy">Trenerzy</button>
      <button type="button" class="btn btn-light navbar-btn">Hale</button>
      <button type="button" class="btn btn-light navbar-btn">Drużyny</button>
      <button type="button" class="btn btn-light navbar-btn">Turnieje</button>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        
      <span class="btn-separator"></span>
      
      <button type="button" class="btn btn-light navbar-btn" *ngIf="!profileButton" (click)="userModal.show()">
        <span class="glyphicon glyphicon-hand-right"></span>Zarejestruj</button>
       

        <button type="button" class="btn btn-light navbar-btn" *ngIf="!profileButton"(click)="authModal.show()">
        <span class="glyphicon glyphicon-log-in"></span>Zaloguj</button>
         
           <button type="button" class="btn btn-light navbar-btn" *ngIf="profileButton" >
            <span class="glyphicon glyphicon-user"></span>{{userEmail}}</button>

            <button type="button" class="btn btn-light navbar-btn" *ngIf="profileButton" (click)="logOut()">
        <span class="glyphicon glyphicon-log-out"></span>Wyloguj</button>

        </ul>
  </div>
</nav>
  

<router-outlet></router-outlet>

<user-register  #userModal> </user-register>

<authentication #authModal> </authentication>

