<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">Praca-Inz</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="#">Główna</a></li>
      <li><a href="trenerzy">Trenerzy</a></li>
      <li><a href="hale">Hale</a></li>
      <li><a href="turnieje">Drużyny</a></li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Turnieje
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Nadchodzące</a></li>
          <li><a href="#">Zakonczone</a></li>
          <li><a href="#">W trakcie</a></li>
        </ul>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        
     
      <button type="button" class="btn btn-default navbar-btn" (click)="userModal.show()">
        <span class="glyphicon glyphicon-log-in"></span>Zarejestruj</button>
        
        <li><button type="button" class="btn btn-default navbar-btn" (click)="authModal.show()">
        <span class="glyphicon glyphicon-log-in"></span>Zaloguj</button>
        </ul>
  </div>
</nav>
  



<user-register  #userModal> </user-register>

<authentication #authModal> </authentication>

