<div class="row">
  <div class="col-md-4"></div><div class="col-md-4">
   <div class="panel panel-default">
        <div class="panel-heading">Przeglądaj drużyny!</div>

</div>
<div class="col-md-4"></div>
</div>
</div>

<div class="row">
  <div class="col-md-4">
    <div class="row">
      <div class="panel panel-default" >
        <div class="panel-heading">Panel wyszukiwania</div>
        <div class="panel-body" ><span data-toggle="tooltip" data-placement="top" title="Wciśnij ENTER aby wyszukać!">
<label>Nazwa</label><br>
<input (keyup.enter)="searchForTeams()" [(ngModel)]="searchTeam.name" placeholder="Nazwa..."><br>
<label>Miasto</label><br>
<input (keyup.enter)="searchForTeams()" [(ngModel)]="searchTeam.city" placeholder="Miasto..."><br>

<button type="submit"  (click)="searchForTeams()" class="btn btn-default" >Szukaj</button></span>
        </div>
      </div>
    </div>
  </div>
  
  <div class="col-md-8 ">

  <div class="panel panel-info" > 
  <div class="panel-heading">Znalezione drużyny ({{totalTeams}})</div></div>

    <div class="panel panel-default"  *ngFor="let result of results">  
    <div class="panel-heading">
    <div class="panel-body"  >
  
  <span style="color:#0000e6; font-size: 120% ">Nazwa :</span> {{result.name}}
  <span style="color:#0000e6; font-size: 120%;padding-left:5em">Miasto :</span> {{result.city}}
  <p><span style="color:#0000e6; font-size: 120%">Opis drużyny : </span> {{result.description}}</p>
  
  <button class="btn btn-default" (click)="getTeamDetails(result.id);detailsModal.show()"> Szczegóły </button>
  
</div>
</div>
</div>
</div>
</div>


<div bsModal #detailsModal="bs-modal"  class="modal fade" tabindex="-1" role="dialog" aria-labelledby="
mySmallModalLabel" aria-hidden="true">
<div class="modal-dialog modal-lg">
<div class="modal-content">
<div class="modal-body">
  <h2>Szczegóły drużyny <div *ngIf="oppositeTeam!=null"><span style="color:orange">{{oppositeTeam.name}}</span></div></h2>     
  <table class="table">
    <thead>
      <tr>
        <th>Rola</th>
        <th>Imię</th>
        <th>Nazwisko</th>
        <th>Rok urodzenia</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let teamresult of teamresults">
      <td>{{teamresult.role}}</td>
      <td>{{teamresult.name}}</td>
      <td>{{teamresult.lastname}}</td>
      <td>{{teamresult.year}}</td>
      </tr>
    </tbody>
  </table>
 
<button type="submit" class="btn btn-default" (click)="detailsModal.hide()" >Cofnij</button>
<button *ngIf="subscribedAccount.team!=null &&subscribedAccount.team.id!=oppositeTeamId" class="btn btn-success" (click)="createMatchModal.show();detailsModal.hide();searchForHalls();searchForRefs()"> Zaproś do meczu</button>
</div>
</div>
</div>
</div>




 <div bsModal #createMatchModal="bs-modal"  class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
<div class="modal-dialog modal-lg">
<div class="modal-content">
<div *ngIf="oppositeTeam!=null"><h1>Zapraszasz do meczu <span style="color:orange">{{oppositeTeam.name}}</span></h1></div>
<label >Wybierz halę</label><br>
<select [(ngModel)]="matchInv.hallId">
   <option  *ngFor="let foundHall of foundHalls" [ngValue]="foundHall.id" >
        {{foundHall.city}}, {{foundHall.adress}} {{foundHall.number}}, {{foundHall.price}}zł | {{foundHall.description}}
   </option>
</select>
<hr/>
<label>Wybierz sędziego</label><br>
<select [(ngModel)]="matchInv.refId">
   <option  *ngFor="let foundRef of foundRefs" [ngValue]="foundRef.id" >
  {{foundRef.name}} {{foundRef.lastname}}, {{foundRef.phone}}
   </option>
</select>
<hr/>
<!-- <input [(ngModel)]="matchInv.salary"><hr/> -->
<label>Proponowana gaża <div *ngIf="matchInv.salary!=null"><span style="color:green" >[{{matchInv.salary}}]</span></div></label>
<input type="range" min="50" max="400" step="10" #ranger (input)="saveSalary(ranger.value)">

<label>Wybierz datę(co najmniej 3 dni w przód)</label><br>
<input type="date" [(ngModel)]="matchInv.date"><hr/>
<label>Wybierz godzinę spotkania<span style="color:blue">{{selectedValues | json}}</span></label><br>
<select id="role" name="role"  [(ngModel)]="id" (ngModelChange)="saveRole()">
   <option *ngFor="let hour of hours" [ngValue]="hour.id" >
        {{hour.name}}
   </option>
</select>
<br><hr/>
<button class="btn btn-success" (click)="inviteToMatch()" [disabled]="matchInv.date==null || matchInv.refId==null || matchInv.hallId==null || matchInv.hour==null || matchInv.salary==null" >Stwórz</button>
</div>
</div>
</div> 